*,
*:before,
*:after {
  box-sizing: border-box;
}

header,
nav,
footer {
  grid-column: 1 / -1;
}

html {
  scroll-behavior: smooth;
}

/* Nav stuff */

nav .logo {
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  letter-spacing: 10px;
  font-family: Almanach, Montserrat, Roboto, Helvetica, san-serif;
}

nav .logo a {
  text-decoration: none;
  color: black;
}

nav .logo:hover {
  animation-name: bounce;
  animation-duration: 1s;
}

nav ul li:hover {
  animation-name: bounce2;
  animation-duration: 1s;
}

article > img:hover {
  animation-name: bounce2;
  animation-duration: 1s;
}

a:hover {
  color: black;
  animation-name: bounce2;
  animation-duration: 1s;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes bounce2 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px);
  }
}

@keyframes slide-up-fade-in {
  0% {
    opacity: 0.5;
    transform: translate(0px, 190px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

nav ul {
  text-align: center;
  list-style: none;
  padding-top: 10px;
  padding-right: 30px;
  font-family: Montserrat, Roboto, Helvetica, san-serif;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: black;
  text-decoration: none;
  line-height: 50px;
  font-size: 16px;
  padding: 10px 20px;
}

body {
  padding: 2rem;
}

main {
  max-width: 500px;
  margin: 0 auto;
}

article {
  margin: 1rem 0;
}

@supports (display: grid) {
  main {
    max-width: none;
    margin: 0;
  }

  article {
    margin: 0;
  }

  main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 0.2rem;
  }
}

article {
  display: flex;
  flex-flow: column;
}

article > img {
  order: -1;
  align-self: center;
  max-width: 80%;
  height: auto;
}

article > img:hover {
  opacity: 0.7;
}

article {
  padding: 1rem;
}

article > h1 {
  margin: 1rem 2.2rem 1rem;
  font-size: 18px;
}

article > p {
  margin: 0.2rem 2.2rem 1rem;
}

a {
  text-decoration: underline;
  margin: 0.2rem 1rem;
  text-align: center;
}

a {
  color: black;
}

main {
  font-family: Montserrat, Roboto, Helvetica, san-serif;
  font-size: 80%;
}

article {
  border-radius: 1rem;
}

footer {
  font-family: Montserrat, Roboto, Helvetica, san-serif;
  text-align: center;
  margin-top: 100px;
}
