*,
*:before,
*:after {
  box-sizing: border-box;
}

header,
nav,
footer {
  grid-column: 1 / -1;
  background: blue;
}

/* Nav stuff */

nav .logo {
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  letter-spacing: 10px;
  font-family: Montserrat, Roboto, Helvetica, san-serif;
}

nav .logo a {
  text-decoration: none;
  color: black;
}

nav .logo:hover {
  animation-name: bounce;
  animation-duration: 1s;
}

nav ul li:hover {
  animation-name: bounce2;
  animation-duration: 1s;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes bounce2 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px);
  }
}

@keyframes slide-up-fade-in {
  0% {
    opacity: 0.5;
    transform: translate(0px, 190px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

nav ul {
  text-align: center;
  list-style: none;
  padding-top: 10px;
  padding-right: 30px;
  font-family: Montserrat, Roboto, Helvetica, san-serif;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: black;
  text-decoration: none;
  line-height: 50px;
  font-size: 16px;
  padding: 10px 20px;
}

body {
  padding: 2rem;
  background-color: lightsalmon;
}

main {
  max-width: 500px;
  margin: 0 auto;
  background-color: grey;
}

article {
  margin: 1rem 0;
}

@supports (display: grid) {
  main {
    max-width: none;
    margin: 0;
  }

  article {
    margin: 0;
  }

  main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* Keep adding new columns - even if theres is no content for them. content does not alwys take up full width */
    /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
    /* Don't add more columns than theres is content for. && +content "always" take full width */
    grid-gap: 1rem;
  }
}

article {
  display: flex;
  flex-flow: column;
}

article > img {
  order: -1;
  align-self: center;
  max-width: 100%;
  height: auto;
}

article > img:hover {
  opacity: 0.5;
}

article {
  padding: 2rem;
}

article > h1 {
  margin: 1rem 1rem 0;
}

article > ul {
  margin: 0 0 1rem;
}

article > p {
  margin: 0.25em 1rem 1rem;
}

main {
  font-family: Montserrat, Roboto, Helvetica, san-serif;
  font-size: 80%;
}

article {
  border: 1px solid red;
  border-radius: 1rem;
}

article > button {
  margin-top: auto;
  /* to push it to the bottom of the box & margin-top: auto takes the available space */
  background: black;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
}

article > button:hover {
  background: grey;
}
